
@{
    ViewData["Title"] = "Create";
    List<FoodItem> fooditems = Model;
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create new order</h4>

                <form method="post" autocomplete="off" style="display: flex; flex-direction: row">
                    @*<span style="font-weight: bold; margin-right: 20px ">1. </span>*@
                    <div class="form-group">
                        <select id="ValOne" style="margin-right: 30px">
                            <option selected="" value="" disabled> Choose food item name</option>
                            @foreach (var fooditem in fooditems)
                            {
                                <option id="ValOne" value="@fooditem.Price" name="Price">
                                    @fooditem.FoodItemName ........... $@fooditem.Price
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="ValTwo" class="form-control" placeholder="Quantity" >
                    </div>
                    
                    <div class="form-group" style="display: flex; margin-left: 30px">
                        <button onClick={multiple} class="btn btn-primary mr-2">Submit</button>
                        <input id="result" value="(@ViewBag.Quantity * @ViewBag.Price).toString()"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    //$("#result").bind("click", function () {
    //    num1 = document.getElementById("ValOne").val();
    //    num2 = document.getElementById("ValTwo").val();
    //    total = (num1 * num2).toString();
    //    alert(total);
    //});
    const multiple = () => {
        document.getElementById("ValOne").val() = @ViewBag.Price
        document.getElementById("ValTwo").val() = @ViewBag.Quantity;
        document.getElementById("result").val() = (@ViewBag.Quantity * @ViewBag.Price).toString();
    }
</script>